<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
        <%= link_to @user.name, @user %>
      </h1>
    </section>
  </aside>
</div>
