<% @user ||= current_user %>
<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user, size: 32 %>
  <b class="name"><%= @user.name %></b><br/>
  <small class="metadata"> View my profile page </small>
</a>
